extends ../layout.pug

block content
  include ../_message
  
  main.main
    .main__caption
      p= username
    .main__message-list
      for m in messages
        +message(m.author, m.body, m._id, m.author == username)
