extends layout.pug

block content
  include _message
  
  main.main.index-page
    .main__caption
      if signedIn
        p= `hello! ${username}`
      else
        p hello!
      p this is not Twitter. you know what to do
    if signedIn
      form.form(action='/newmessage?_method=post' method='post')
        input.form__input.form__input--full-width(name='body' type='text' max-length=140)
        button.form__submit go
    if messages
      .main__message-list
        for m in messages
          +message(m.author, m.body, m._id, m.author == username)
