extends layout.pug

block content
  include header.pug
  p get in
  form(action='/login' method='post')
    input(type='text' name='username' placeholder='name')
    input(type='password' name='password' placeholder='password')
    input(type='submit')
