extends layout.pug

block content
  main.main
    .main__caption
      p get in
    form.form(action='/login' method='post')
      input.form__input(type='text' name='username' placeholder='name')
      input.form__input(type='password' name='password' placeholder='password')
      button.form__submit go
